/******************/
/**** General *****/
/******************/
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
.u-clearfix::after, header .Section-content::after, .Nav::after, .TabNav::after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.u-invisolabel {
  font-size: 0;
  display: table-cell;
  /* so that it doesnt effect other elements */
  margin: 0;
  padding: 0;
  visibility: hidden; }

.u-graphicalLink {
  font-size: 0; }

a.u-cleanLinks, a.Menu, a.TabNav,
.u-cleanLinks a,
.Menu a,
.TabNav a {
  text-decoration: none; }
  a.u-cleanLinks:hover, a.Menu:hover, a.TabNav:hover,
  .u-cleanLinks a:hover,
  .Menu a:hover,
  .TabNav a:hover {
    text-decoration: none; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #303030; }

i {
  font-style: normal; }

select {
  background-color: white;
  border: 0;
  padding: 0.5rem;
  width: 20rem; }

iframe {
  background-color: white; }

body {
  background: url("../img/body-background.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.Section-content {
  display: block;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 auto; }

/******************/
/***** Header *****/
/******************/
header {
  background-color: black; }
  header .Section-content {
    height: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 0; }
  header img, header .SearchBox input {
    height: 3rem; }
  header img {
    float: left; }
  header .SearchBox {
    float: right; }

header .SearchBox input {
  padding-left: .5rem; }

/******************/
/****** Main ******/
/******************/
main {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: calc(100% - 6rem); }

.NotificationBar {
  padding: 1rem 2rem;
  background-color: #DBDBDB;
  margin-bottom: 2rem; }
  .NotificationBar.empty {
    display: none; }

/***********************/
/****** Navigator ******/
/***********************/
.Nav {
  font-size: 0; }
  .Nav .Nav-topic {
    margin-right: 3%;
    margin-left: 3%;
    width: 29.33333%;
    float: left; }
    .Nav .Nav-topic:first-child {
      margin-left: 0; }
    .Nav .Nav-topic:last-child {
      margin-right: 0; }

.Nav-topic {
  height: 20rem;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-position-x: 50%; }
  .Nav-topic > p {
    color: white;
    font-size: 2.25rem; }
  .Nav-topic .Menu {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }

.Nav-topic--report {
  background-image: url("../img/icons/action-report-new.png");
  background-position-y: 350%; }

.Nav-topic--dashboard {
  background-image: url("../img/icons/action-report-top.png");
  background-position-y: 350%; }

.Nav-topic--help {
  background-image: url("../img/icons/actions-help.png");
  background-position-y: 125%; }

.Menu {
  position: relative;
  text-align: left; }

.Menu-caption {
  background-color: #DBDBDB;
  padding: 1rem 1rem; }
  .Menu-caption p {
    margin: 0; }
  .Menu-caption p::after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0px;
    border: 7px solid transparent;
    border-top: 7px solid black;
    float: right;
    margin-top: 5px;
    transition: transform 0.5s ease; }

.Menu .Menu-actionList {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  visibility: hidden;
  box-shadow: 0px 0px 3px black; }
  .Menu .Menu-actionList li {
    list-style: none;
    display: block;
    transition: height .5s;
    height: 0;
    padding: 0 1rem;
    background-color: white; }
    .Menu .Menu-actionList li, .Menu .Menu-actionList li a {
      color: black; }
    .Menu .Menu-actionList li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0.5rem 0;
      border-bottom: 1px solid #A0A0A0;
      opacity: 0;
      transition: opacity 0.5s ease; }
    .Menu .Menu-actionList li:last-child a {
      border-bottom: 0; }

.Menu:hover .Menu-caption p::after {
  transform: rotate(180deg) translateY(50%); }
.Menu:hover .Menu-actionList {
  visibility: visible; }
  .Menu:hover .Menu-actionList li {
    height: 3.5rem; }
    .Menu:hover .Menu-actionList li a {
      opacity: 1; }

/*************************/
/********** Tabs *********/
/*************************/
.TabNav {
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 0; }
  .TabNav li {
    list-style: none;
    margin-right: 3%;
    margin-left: 3%;
    float: left;
    width: 20.5%; }
    .TabNav li:first-child {
      margin-left: 0; }
    .TabNav li:last-child {
      margin-right: 0; }
    .TabNav li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 1rem 1rem;
      box-sizing: border-box;
      color: gainsboro;
      text-align: center;
      background-color: #646464; }

.TabNav li.selected a {
  background-color: #DBDBDB;
  color: #303030; }

.Tab {
  background-color: #DBDBDB;
  min-height: 4rem;
  padding: 2rem;
  position: absolute;
  left: -9999px; }
  .Tab.selected {
    position: static; }

.Tab-content {
  position: relative; }

.Tab-control {
  text-align: right; }
  .Tab-control select {
    float: left; }

.IconButton {
  display: inline-block;
  padding: 1rem;
  vertical-align: middle; }
  .IconButton img {
    transition: transform 1s ease; }

.Tab iframe {
  width: 100%;
  height: 90vh;
  margin-top: 3rem; }

.Tab--simple .Tab-control .IconButton--settings,
.Tab--simple .Tab-control select,
.Tab--simple .Tab-settings {
  display: none; }

.Tab.settingsHoverMode .Tab-settings {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 5px 8px gray; }

.Tab.settingsMode iframe, .Tab.settingsMode .IconButton--external, .Tab.settingsMode select {
  display: none; }

.Tab.settingsMode .IconButton--settings, .Tab.settingsHoverMode .IconButton--settings {
  background-color: white; }
  .Tab.settingsMode .IconButton--settings img, .Tab.settingsHoverMode .IconButton--settings img {
    transform: rotate(180deg); }

.Tab.iframeMode .Tab-settings {
  display: none; }

/********************/
/***** Settings *****/
/********************/
.Tab-settings {
  padding: 2rem;
  background-color: white; }
  .Tab-settings .ChangesRow {
    text-align: right;
    margin-top: 2rem; }

.SiteRow {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  height: 3rem;
  font-size: 0;
  background-color: #DBDBDB; }
  .SiteRow > p, .SiteRow .SanitizedInput {
    box-sizing: border-box; }
  .SiteRow > p {
    font-size: 1.5rem;
    display: inline-block;
    width: 10%;
    margin: 0; }
  .SiteRow .SanitizedInput {
    width: 42%; }
    .SiteRow .SanitizedInput + .SanitizedInput {
      margin-left: 6%; }

.SanitizedInput {
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: 0; }
  .SanitizedInput input, .SanitizedInput label, .SanitizedInput .ErrorBox {
    font-size: 1.5rem; }
  .SanitizedInput input {
    line-height: 100%;
    height: 100%;
    width: 88%;
    box-sizing: border-box;
    padding: 0 0.75rem; }
  .SanitizedInput label {
    width: 12%;
    display: inline-block; }
    .SanitizedInput label::after {
      content: ":"; }
  .SanitizedInput .ErrorBox {
    display: none;
    transition: .2s opacity ease;
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 50%; }

.SanitizedInput.hasError input {
  border: 1px solid red; }
.SanitizedInput.hasError .ErrorBox {
  display: block;
  animation: 1s appear; }

.ErrorBox {
  padding: 0.5rem;
  min-height: 1.5rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px; }
  .ErrorBox p {
    display: inline; }
  .ErrorBox .ErrorBox-icon::before {
    content: "!";
    font-weight: bold;
    padding: 2px 7px;
    margin-right: 0.5rem;
    color: white;
    background-color: orange; }
  .ErrorBox::after {
    display: inline-block;
    width: 0;
    height: 0px;
    border: 0.5rem solid transparent;
    border-bottom: 0.5rem solid gray;
    content: " ";
    position: absolute;
    top: -1rem;
    left: 10%; }

.CancelButton, .SaveButton {
  padding: 0.5rem;
  min-width: 10rem; }

.CancelButton {
  background: none;
  border: none;
  color: black;
  text-decoration: underline; }

.SaveButton {
  background-color: black;
  color: white;
  border: none; }

/*# sourceMappingURL=main.css.map */
